@font-face {
    font-family: Retronoid;
    src: url('fonts/Retronoid.ttf');
    font-family: ChakraPerch;
    src: url('fonts/ChakraPerch.ttf');
}

.body{
    overflow: hidden;
    margin: 0px; 
    width: 100%; 
    height: 100%; 
    background-repeat: no-repeat; 
    background-size: cover;
    background-color: black;
}

.leftDiv{
    user-select: none; /* Standard */
    position: absolute;
    width: 30%;
    height: 10%;
    top: 2%;
    left: 3%;
    text-align: left;
    padding: 1vmin;
}

.lightsDiv{
    user-select: none; /* Standard */
    color: white;
    position: absolute;
    width: 20%;
    height: 35%;
    top: 60%;
    right: 3%;
    text-align: right;
    padding: 1vmin;
    font-family: "ChakraPerch";
}

.rightDiv{
    user-select: none; /* Standard */
    position: absolute;
    width: 15%;
    height: 10%;
    top: 2%;
    right: 3%;
    text-align: right;
    padding: 1vmin;
}

.bottomDiv{
    background-color: rgb(200, 200, 200);
    color: white;
    position: absolute;
    width: 50%;
    height: 20%;
    top: 90%;
    right: 25%;
    text-align: center;
}

#userBottomTable th {
    background-color: rgb(136, 136, 136);
    padding: 10px;
    text-align: center;
}

#userBottomTable td {
    width: 12%;
    padding: 15px;
    text-align: center;
}

.title{
    height: 100%;
    margin: 0%;
    font-size: 6vmin;
    font-family: "Retronoid";
    color: white; 
    opacity: 1.0; 
    overflow:auto;
}

.content{
    height: 100%;
    margin: 0%;
    font-size: 2vmin;
    font-family: "Agency FB";
    color: white;
    opacity: 1.0;
    overflow:auto;
}

.gameOverDiv{
    user-select: none; /* Standard */
    position: absolute;
    width: 100%;
    height: 25%;
    top: 50%;
    text-align: center;
}

.gameOver {
    height: 100%;
    color: white;
    font-size: 3vmin;
    font-family: "Agency FB";
}